@keyframes fadeInUp
  0%
    opacity: 0
    display: block
    transform: translate(0, 25%)
  100%
    opacity: 1 
    display: block
    transform: translate(0, 0)

@keyframes fadeInLeft
  0%
    opacity: 0
    display: block
    transform: translate(25%,0)
  100%
    opacity: 1 
    display: block
    transform: translate(0, 0)

@keyframes fadeOutDown
  0%
    opacity: 1
    display: block
    transform: translate(0, 0)
  99%
    opacity: 0 
    display: block
    transform: translate(0, 25%)
  100%
    display: none