/**!
  * Color Scheme
  */

$green: #29c75f
$green-darker: #18aa4a
$green-darkest: #0f7933
$green-lighter: #9df0b9
$green-lightest: #bafed1

$dark-green: #394240
$dark-blue: #394240

$blue-sky: #39c3da
$blue-sky-darker: #20a3b9
$blue-sky-darkest: #12606d
$blue-sky-lighter: #93e5f3
$blue-sky-lightest: #c3f0f7

$yellow: #FFBC11
$yellow-darker: #e9aa3a
$yellow-darkest: #851b10
$yellow-lighter: #fbd490
$yellow-lightest: #ffe5b6

$orange: #fc8229
$orange-darker: #eb6b0e

$red: #E74C3C
$red-darker: #d73727
$red-darkest: #d73727
$red-lighter: #f3b1ab
$red-lightest: #fdc3bd

$blue-lightest: #86cff7
$blue-lighter: #42b4f2
$blue: #095077
$blue-darker: #043D5D
$blue-darkest: #032b42

$white: #FFF
$white-darker: #F9F9F9

$grey-lightest: #f0f4f5
$grey-lighter: #e7edee
$grey: #dfe6e8
$grey-darker: #c8d1d3
$grey-darkest: #8d9293

$black-lightest: #999
$black-lighter: #666
$black: #444
$black-darker: #222


/* Theming */

$primary-color: $green
$secondary-color: $blue-sky

/**!
  * Width & Height
  */

$xss: 320px
$xs: 480px
$sm: 767px
$md: 991px
$lg: 1200px

$navbar-height: 90px
$navbar-height-min: 70px
$sidebar-width: 180px

$landing-navbar-height: 110px
$landing-navbar-affix-height: 80px

/**!
  * Z-index
  */

$z-modal: 200000
$z-navbar: 100008
$z-sidebar: $z-navbar + 100

/**!
  * Font Path
  */

$fa-font-path: 'fonts/font-awesome'
$ionicons-font-path: 'fonts/ionicons'


$flag-icon-css-path: 'flags'