<div class="card card-tab card-mini">
  <div class="card-header">
    <ul class="nav nav-tabs tab-stats">
      <li role="tab1" :class="{active: activeTab === 'browsers'}">
        <a href="#tab1" aria-controls="tab1" role="tab" aria-expanded="false" v-on:click.prevent="setActiveTab('browsers')">Browsers</a>
      </li>
      <li role="tab2" :class="{active: activeTab === 'os'}">
        <a href="#tab2" aria-controls="tab2" role="tab" aria-expanded="true" v-on:click.prevent="setActiveTab('os')">OS</a>
      </li>
      <li role="tab2" :class="{active: activeTab === 'more'}">
        <a href="#tab3" aria-controls="tab3" role="tab" aria-expanded="false" v-on:click.prevent="setActiveTab('more')">More</a>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <div role="tabpanel" class="tab-pane" id="tab1" :class="{active: activeTab === 'browsers'}">
      <div class="row">
        <div class="col-sm-8">
          <chartist
            class="ct-chart ct-chart-browser ct-perfect-fourth"
            :data="browserChart.data"
            :options="browserChart.config"
            type="Pie">
          </chartist>
        </div>
        <div class="col-sm-4">
          <ul class="chart-label">
            <li class="ct-label ct-series-a">Google Chrome</li>
            <li class="ct-label ct-series-b">Firefox</li>
            <li class="ct-label ct-series-c">Safari</li>
            <li class="ct-label ct-series-d">IE</li>
            <li class="ct-label ct-series-e">Opera</li>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2" :class="{active: activeTab === 'os'}">
      <div class="row">
        <div class="col-sm-8">
          <chartist
            class="ct-chart ct-chart-os ct-perfect-fourth"
            :data="osChart.data"
            :options="osChart.config"
            type="Pie">
          </chartist>
        </div>
        <div class="col-sm-4">
          <ul class="chart-label">
            <li class="ct-label ct-series-a">iOS</li>
            <li class="ct-label ct-series-b">Android</li>
            <li class="ct-label ct-series-c">Windows</li>
            <li class="ct-label ct-series-d">OSX</li>
            <li class="ct-label ct-series-e">Linux</li>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab3" :class="{active: activeTab === 'more'}">
    </div>
  </div>
</div>