<aside class="app-sidebar" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">Flat v3</span> Admin</a>
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li class="dashboard">
        <router-link to="/dashboard">
          <div class="icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard</div>
        </router-link>
      </li>
      <li class="messaging">
        <router-link to="/messaging">
          <div class="icon">
            <i class="fa fa-comments" aria-hidden="true"></i>
          </div>
          <div class="title">Messaging</div>
        </router-link>
      </li>
      <li class="dropdown uikits">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-cube" aria-hidden="true"></i>
          </div>
          <div class="title">UI Kits</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> UI Kits</li>
            <li>
              <router-link to="/customize">Customize</router-link>
            </li>
            <li>
              <router-link to="/components">Components</router-link>
            </li>
            <li>
              <router-link to="/card">Card</router-link>
            </li>
            <li>
              <router-link to="/form">Form</router-link>
            </li>
            <li>
              <router-link to="/table">Table</router-link>
            </li>
            <li>
              <router-link to="/icon">Icon</router-link>
            </li>
            <li class="line"></li>
            <li class="section">
              <i class="fa fa-file-o" aria-hidden="true"></i> Advanced Components
            </li>
            <li>
              <router-link to="/price-table">Pricing Table</router-link>
            </li>
            <li>
              <router-link to="/chart">Chart</router-link>
            </li>
          </ul>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-file-o" aria-hidden="true"></i>
          </div>
          <div class="title">Pages</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Admin</li>
            <li>
              <router-link to="/example-form">Form</router-link>
            </li>
            <li>
              <router-link to="/example-profile">Profile</router-link>
            </li>
            <li>
              <router-link to="/example-search">Search</router-link>
            </li>
            <li class="line"></li>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Landing</li>
            <!-- <li><a href="@@path/pages/landing.html">Landing</a></li> -->
            <li>
              <router-link to="/login">Login</router-link>
            </li>
            <li>
              <router-link to="/register">Register</router-link>
            </li>
            <!-- <li><a href="@@path/pages/404.html">404</a></li> -->
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
    </ul>
  </div>
</aside>
<!--
<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
  <div class="dropdown-background">
    <div class="bg"></div>
  </div>
  <div class="dropdown-container">
    {{list}}
  </div>
</script>-->